.react-calendar {
    width: 75%;
    max-width: 1200px;
    margin-bottom: 10px;
}

.react-calendar__tile {
    flex: 1 0 14.2857%; /* 각 셀의 너비를 조절합니다. 여기서는 7개의 열이 있으므로 각 셀의 너비는 100% / 7이 됩니다. */
    max-width: 80%; /* 셀의 최대 너비를 100%로 설정합니다. */
    /*height: 100%; !* 각 셀의 높이를 설정합니다. *!*/
    height: 70px;
    font-size: 20px; /* 셀 내부 텍스트의 글꼴 크기를 설정합니다. */
}

.react-calendar button {
    border: solid thin lightgray;
}

.special-date {
    background-color: lavenderblush; /* 원하는 배경색으로 변경하세요 */
}

.react-calendar__tile--active {
    background-color: #61dafb;
    color: brown;
}

button.react-calendar__navigation__label {
    font-size: x-large;
}