.react-calendar {
    width: 100%; /* 달력의 전체 너비를 80%로 설정합니다. */
    max-width: 800px; /* 달력의 최대 너비를 600px로 제한합니다. */
}

.react-calendar__tile {
    flex: 1 0 14.2857%; /* 각 셀의 너비를 조절합니다. 여기서는 7개의 열이 있으므로 각 셀의 너비는 100% / 7이 됩니다. */
    max-width: 120%; /* 셀의 최대 너비를 100%로 설정합니다. */
    height: 100%; /* 각 셀의 높이를 설정합니다. */
    font-size: 20px; /* 셀 내부 텍스트의 글꼴 크기를 설정합니다. */
    line-height: 80px; /* 셀 내부 텍스트의 수직 정렬을 위해 높이와 같은 값을 설정합니다. */
}